// CCascader 全局样式
@use '../core/variables' as *;

.c-cascader {
  width: 100%;
  
  &-footer {
    padding: $spacing-s $spacing-md;
    border-top: 1px solid $border-color;
  }
}

// 级联选择器内容样式
.adm-cascader-view {
  .adm-tabs {
    --active-line-color: var(--primary-color);
    --active-title-color: var(--primary-color);

    .adm-tabs-header {
        border-bottom: 1px solid $border-color;
    }

    .adm-tabs-content {
        .adm-cascader-view-item-active {
            color: $primary-color;
        }

        .adm-list-item-disabled {
            color: $text-color-disabled;
        }

    }
  }
}
