@use '../core' as *;

/* 页面容器组件样式 */
.page-container {
  height: 100vh;
  width: 100vw;
  // width: 100%;
  display: flex;
  flex-direction: column;
  
  &__content {
    height: 100%;
  }
  
  &__footer {
    padding: $spacing-m $spacing-md-2;
    background-color: $white;
    &--border {
      border-top: 1px solid $border-color;
    }
  }
  
  &__submit {
    padding: $spacing-m $spacing-md-2;
    background-color: $white;
    &--border {
      border-top: 1px solid $border-color;
    }
    // .adm-button {
    //   height: 44px;
    //   @include font-body-m;
    //   background-color: $primary-color;
    //   border-radius: $border-radius-m;

      
    //   &--loading::before {
    //     margin-right: $spacing-xs;
    //   }
    // }
  }
}
