@use '../core' as *;

/* 工作记录录入页样式 */
.page-work-record-entry {
  height: 100%;
  background-color: $gray-10;

  .adm-form {
    --border-inner: none;
    --border-top: none;
    --border-bottom: none;
    --prefix-width: 0;
    --adm-color-background: $gray-10;
    padding: 16px 14px 0 14px;

    .adm-list-item {
      padding-left: 0;
    }

    .adm-list-item-content {
      padding-right: 0;

      &-main {
        width: 100%;
        padding: 0 0 16px 0;
        overflow: hidden;

        .adm-form-item-label {
          // --adm-color-weak: var($gray-2);
          // --adm-font-size-7: var($font-size-s);
          color: $gray-2;
          @include font-body-m;
          margin-bottom: 4px;
        }

        .adm-form-item-child {
          width: 100%;

          &.adm-form-item-child-position-normal > * {
            width: 100%;

            @include font-body-m;
          }
        }
      }
    }

    .required-field {
      
      .adm-form-item-label {
        margin-left: 10px;
      }
      .adm-form-item-required-asterisk {
        color: $flamingo-4;
      }
    }

    .adm-form-item-feedback-error {
      @include font-body-s;
      color: $flamingo-4;
    }

    .work-amount-input, .remarks-textarea {
      background-color: $white;
    }
  }
}